<div class="comment-container">
    <div class="comment container medium">
<div id="hyvor-talk-view"></div>
<script>
var HYVOR_TALK_WEBSITE = 5317;
var HYVOR_TALK_CONFIG = {
    url: false,
    id: false
};
</script>
<script async src="//talk.hyvor.com/web-api/embed.js"></script>
    </div>
</div>
